@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins&family=Roboto+Condensed&display=swap');

body {
    background-color: hsla(0, 100%, 76%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

.nav {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    margin: 10px;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
}

.nav.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-link {
    color: rgb(233, 233, 233);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-item .active {
    color: rgb(0, 0, 0);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    padding-right: 20px;

}

.nav.scrolled .nav-link {
    color: rgb(58, 58, 58);
}

.nav.scrolled .nav-item .active {
    color: rgb(0, 0, 0);
}

.nav-link:hover {
    color: white;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
}

.sec1 {
    margin-top: 200px;
}

.sec2 {
    margin-top: 170px;
}

.sec3 {
    margin-top: 50px;
}

.sec4 {
    margin-top: 150px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-family: 'Caprasimo', sans-serif;
    font-size: 60px;
}

.slide-fade-in {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideFadeIn 0.5s ease-out forwards;
}

.slide-fade-in:nth-child(1) {
    animation-delay: 0.8s;
}

.slide-fade-in:nth-child(2) {
    animation-delay: 0.2s;
}

.slide-fade-in:nth-child(3) {
    animation-delay: 0.4s;
}

.slide-fade-in:nth-child(4) {
    animation-delay: 0.6s;
}

.slide-fade-in:nth-child(5) {
    animation-delay: 1s;
}

.slide-fade-in:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

h2 {
    text-align: center;
    font-family: 'Caprasimo', sans-serif;
    font-size: 40px;
    margin: 0;
}

.slide:nth-child(1) {
    color: #ff0040;
}

.slide:nth-child(2) {
    color: #008cc4;
}

.slide:nth-child(3) {
    color: #750092;
}

.slide:nth-child(4) {
    color: #ff0015;
}

.slide:nth-child(5) {
    color: #ff6600;
}

.star1 {
    opacity: 1;
    position: absolute;
    display: block;
    top: 120px;
    left: 20%;
}

.star2 {
    opacity: 1;
    position: absolute;
    display: block;
    margin-top: 10px;
    right: 20%;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto Condensed', 'Sans-Serif';
}

h5 {
    color: white;
    font-size: 23px;
    font-family: 'Roboto Condensed', 'Sans-Serif';
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    margin-top: 3px;
}

/* 
.blocks {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #353535;
    border-radius: 30px;
} */

.blocks {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.sec2 .col-lg-8 .layers {
    width: 13%;
    position: absolute;
    top: -30px;
    right: 80px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.sec2 .col-lg-4 .layers {
    width: 25%;
    position: absolute;
    top: 290px;
    right: 275px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.sec3 .col-lg-4 .layers {
    width: 25%;
    position: absolute;
    top: 290px;
    right: 275px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.sec3 .col-lg-8 .layers {
    width: 13%;
    position: absolute;
    top: -30px;
    right: 80px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.BlockHeadings {
    position: relative;
    top: 5px;
    left: 30px;
    font-size: 50px;
    color: white;
    /* color: #212529; */
    font-family: 'Caprasimo', sans-serif;
}

.figmass {
    /* width: 100%; */
    height: 30em;
    position: relative;
    top: 30px;
    left: 100px;
    transition: transform 0.3s ease;
}

.editingpng {
    /* width: 100%; */
    height: 30em;
    position: relative;
    top: 30px;
    left: 100px;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.softwaress {
    height: 40em;
    position: relative;
    top: 30px;
    left: 100px;
    transition: transform 0.3s ease;
}

.villainpng {
    height: 25em;
    position: relative;
    top: 30px;
    left: 20px;
    transition: transform 0.3s ease;
}

.blocks:hover .layers {
    opacity: 1;
    transform: translateY(-10px);
}

.blocks:hover .figmass {
    transform: translateY(10px);
}

.blocks:hover .softwaress {
    transform: translateY(10px);
}

.blocks:hover .villainpng {
    transform: translateY(10px);
}

.blocks:hover .editingpng {
    transform: translateY(10px);
}

.blockbox {
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(145deg, rgb(3, 13, 70), rgb(0, 0, 0));
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    overflow: hidden;
}

.blockbox:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 90px 0px #00000048;
    background-clip: padding-box;
}

.content {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.cvt {
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    margin: 4px;
    font-family: 'Roboto Condensed', 'Sans-Serif';
    text-decoration: none;
}

.cvt .cv,
.cvt .cvi {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s;
}

.cvi {
    opacity: 0;
}

.cvt:hover .cvi {
    opacity: 1;
}

.cvt:hover .cv{
    opacity: 0;
    color: white;
}

.cvt:hover,
.cvt:focus,
.cvt:active {
    outline: none;
}

.gitt {
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    /* left: 30px; */
    margin: 4px;
    font-family: 'Roboto Condensed', 'Sans-Serif';
    text-decoration: none;
}

.gitt .git,
.gitt .giti {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s;
}

.giti {
    opacity: 0;
    width: 22px;
    margin-top: 2px;
}

.gitt:hover .giti {
    opacity: 1;
}

.gitt:hover .git{
    opacity: 0;
    color: white;
}

.gitt:hover,
.gitt:focus,
.gitt:active {
    outline: none;
}

.lint {
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    margin: 4px;
    font-family: 'Roboto Condensed', 'Sans-Serif';
    text-decoration: none;
}

.lint .lin,
.lint .lini {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s;
}

.lini {
    opacity: 0;
    width: 22px;
    margin-top: 2px;
}

.lint:hover .lini {
    opacity: 1;
}

.lint:hover .lin{
    opacity: 0;
    color: white;
}

.lint:hover,
.lint:focus,
.lint:active {
    outline: none;
}

@media (max-width: 768px) {

    .sec2 .col-md-12 .layers {
        opacity: 0;
    }

    .sec3 .col-md-12 .layers {
        opacity: 0;
    }

    .blockbox {
        margin-top: 50px;
    }

    .sec3 {
        margin-top: 0px;
    }

    .star1 {
        width: 0px;
    }

    .star2 {
        width: 0px;
    }

    h5 {
        color: white;
        font-size: 20px;
        font-family: 'Roboto Condensed', 'Sans-Serif';
        background-color: rgba(255, 255, 255, 0.3);
        display: inline-block;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 25px;
        margin-top: 3px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .star1 {
        opacity: 1;
        position: absolute;
        display: block;
        width: 50px;
        top: 120px;
        left: 10%;
    }

    .star2 {
        opacity: 1;
        position: absolute;
        display: block;
        width: 50px;
        margin-top: 10px;
        right: 10%;
    }

    .blockbox {
        margin-top: 50px;
    }

    .sec3 {
        margin-top: 0px;
    }

    .sec2 .col-md-12 .layers {
        width: 15%;
        position: absolute;
        top: -35px;
        right: 75px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease, transform 0.3s ease;
    }

    .sec3 .col-md-12 .layers {
        width: 15%;
        position: absolute;
        top: -35px;
        right: 75px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease, transform 0.3s ease;
    }

    .blocks:hover .layers {
        opacity: 1;
        transform: translateY(-10px);
    }

    .BlockHeadings {
        position: relative;
        top: 5px;
        left: 30px;
        font-size: 33px;
        color: white;
        /* color: #212529; */
        font-family: 'Caprasimo', sans-serif;
    }

    h5 {
        color: white;
        font-size: 20px;
        font-family: 'Roboto Condensed', 'Sans-Serif';
        background-color: rgba(255, 255, 255, 0.3);
        display: inline-block;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 25px;
        margin-top: 3px;
    }
}

@media (min-width: 992px) and (max-width: 1050px) {
    .star1 {
        opacity: 1;
        position: absolute;
        display: block;
        width: 50px;
        top: 120px;
        left: 10%;
    }

    .star2 {
        opacity: 1;
        position: absolute;
        display: block;
        width: 50px;
        margin-top: 10px;
        right: 10%;
    }

    .BlockHeadings {
        position: relative;
        top: 5px;
        left: 30px;
        font-size: 35px;
        color: white;
        /* color: #212529; */
        font-family: 'Caprasimo', sans-serif;
    }

    .figmass {
        /* width: 100%; */
        height: 30em;
        position: relative;
        top: 30px;
        left: 50px;
        transition: transform 0.3s ease;
    }

    .editingpng {
        /* width: 100%; */
        height: 30em;
        position: relative;
        top: 30px;
        left: 50px;
        transition: transform 0.3s ease;
        border-radius: 5px;
    }

    .softwaress {
        height: 40em;
        position: relative;
        top: 30px;
        left: 50px;
        transition: transform 0.3s ease;
    }

    .villainpng {
        height: 25em;
        position: relative;
        top: 30px;
        left: -30px;
        transition: transform 0.3s ease;
    }

    .sec2 .col-lg-4 .layers {
        width: 25%;
        position: absolute;
        top: 290px;
        right: 240px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease, transform 0.3s ease;
    }

    .sec3 .col-lg-4 .layers {
        width: 25%;
        position: absolute;
        top: 290px;
        right: 240px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease, transform 0.3s ease;
    }

    .blocks:hover .layers {
        opacity: 1;
        transform: translateY(-10px);
    }
}


@media (min-width: 1051px) and (max-width: 1199px) {
    .BlockHeadings {
        position: relative;
        top: 5px;
        left: 30px;
        font-size: 35px;
        color: white;
        /* color: #212529; */
        font-family: 'Caprasimo', sans-serif;
    }

    .figmass {
        /* width: 100%; */
        height: 30em;
        position: relative;
        top: 30px;
        left: 50px;
        transition: transform 0.3s ease;
    }

    .editingpng {
        /* width: 100%; */
        height: 30em;
        position: relative;
        top: 30px;
        left: 50px;
        transition: transform 0.3s ease;
        border-radius: 5px;
    }

    .softwaress {
        height: 40em;
        position: relative;
        top: 30px;
        left: 50px;
        transition: transform 0.3s ease;
    }

    .villainpng {
        height: 25em;
        position: relative;
        top: 30px;
        left: -30px;
        transition: transform 0.3s ease;
    }

    .sec2 .col-lg-4 .layers {
        width: 25%;
        position: absolute;
        top: 290px;
        right: 240px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease, transform 0.3s ease;
    }

    .sec3 .col-lg-4 .layers {
        width: 25%;
        position: absolute;
        top: 290px;
        right: 240px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s ease, transform 0.3s ease;
    }

    .blocks:hover .layers {
        opacity: 1;
        transform: translateY(-10px);
    }
}